.helpguide {
  margin-block: 5%;
}
.allguide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  height: 313px;
  background-color: #ffffff1a;
  margin: auto;
  border-radius: 10px;
  padding-left: 30px;
}
.leftside2 {
  display: flex;
  flex-direction: column;
}

.leftside2 .rocket {
  width: 48px;
  height: 48px;
}
.leftside2 h4 {
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  text-align: center;
}
.leftside2 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.allguide .desktop {
  width: 614px;
  height: 312px;
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.help {
  margin-left: 5%;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 2%;
}
.helpsection {
  margin-top: 3%;
  margin-bottom: 8%;
}

@media (max-width: 1068px) {
  .allguide {
    width: 85%;
    height: 214px;
  }
  .allguide .desktop {
    width: 420px !important;
    height: 212px !important;
  }
  .leftside2 h4 {
    font-size: 25px;
  }
  .leftside2 p {
    font-size: 12px;
    max-width: 300px;
  }
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 708px) {
  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .allguide {
    width: 85%;
    height: 214px;
  }
  .allguide .desktop {
    width: 400px !important;
    height: 152px !important;
  }
  .leftside2 h4 {
    font-size: 17px;
  }
  .leftside2 p {
    font-size: 12px;
    max-width: 250px;
  }
}
@media (max-width: 600px) {
  .allguide {
    display: flex;
    flex-direction: column;
    height: 340px;
  }
  .allguide h4 {
    font-size: 22px;
    font-weight: 600;
  }
  .allguide p {
    font-size: 13px;
  }
  .leftside2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: auto;
  }
  .allguide .desktop {
    width: 380px !important;
    height: 212px !important;
  }
  .leftside2 .rocket {
    margin-right: 20px;
  }
  .cards1 {
    margin-inline: auto;
    width: 60%;
    padding-inline: 5px;
  }
  .cards1 .title{
    font-size: 0.9em ;
  }
  .cards1 .para{
    font-size: 0.6em;
    max-width: 80%;
  }
}
@media (max-width:420px){
  .allguide h4 {
    font-size: 17px;
    font-weight: 600;
  }
  .allguide p {
    font-size: 13px;
  }
  .leftside2 .rocket {
  width: 10%;
  }
  .allguide .desktop {
    width: 97% !important;
  }
}
