li{
    list-style: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.898);
    font-weight: 400;
}
li:hover{
color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin:auto;
    padding-top: 20px;
    align-items: center;
    text-align: center;
}
.rightsidenavbar{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}
.features1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 430px;
    height: 24px;
    top: 16px;
    left: 320px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    width: 180px;
    justify-content: space-between;
}
.image{
width: 47px;
height: 55px;
}
.textlogo{
    font-size: 20px;
}

.feature{
    font-size: 18px;
}
.button {
    position: relative;
    width: 146px;
    height: 40px;
    border-radius: 4px;
    color: white;
    background: linear-gradient(to right, #8058B7, #C55DC6);
    border: 2px solid #c45dc688; 
    overflow: hidden; 
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.navbar .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.menubar{
    font-size: 50px;
}
@media (max-width: 990px) {
    .navbar .menu,
    .menu {
      display: flex;
      flex-direction: column;
      align-items: flex-end; 
    }
  
    .navbar {
      flex-direction: column; 
      align-items: center; 
      padding-top: 0.75rem; 
    }
  
    .navbar .rightsidenavbar {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
    }
    .navbar .rightsidenavbar.open {
      display: flex;
      flex-direction: column; 
      margin-top: 5%;
    }
    .navbar .rightsidenavbar.open ul{
        display: flex;
        flex-direction: column;
    }
    .navbar .rightsidenavbar.open .button1{
        margin-top: 15%;
        margin-left: 5%;
    }
}
  