.iframesection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframesection iframe {
  border: 3px solid;
  width: 840px;
  height: 469px;
  border-radius: 20px;
}

.D3image2 {
  position: absolute;
  left: 0;
  margin-left: 5%;
  top: 110%;
  transform: translateY(180%);
}

.img3D2 {
  width: 230px;
  height: 200px;
}
@media (max-width: 990px) {
  .iframesection iframe {
    border: 3px solid;
    width: 390px;
    height: 269px;
    border-radius: 20px;
  }

  .D3image2 {
    position: absolute;
    left: 0;
    margin-left: -2%;
    top: 75%;
    transform: translateY(180%);
  }
  .img3D2 {
    width: 130px;
    height: 100px;
  }
}
@media (max-width: 440px) {
  .iframesection{
    margin-bottom: 16% !important;
  }
  .iframesection iframe {
    width: 90%;
  }
  .iframesection .D3image2{
    top: 65%;
  }
}
@media (max-width: 360px) {
  .iframesection{
    margin-bottom: 16% !important;
  }
  .iframesection iframe {
    width: 90%;
  }
  .iframesection .D3image2{
    top: 73%;
  }
}
